body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;
}
.main_content{
    background-color: #ffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* .about styles */
.about {

}

.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    margin-bottom: 40px;
}

/* projects styles */
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;     
    margin-bottom: 10px;
}

.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.work_organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.work_time{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.bold_line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list{
    padding: 0px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work_time{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.exp_university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.exp_management{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.projects_list{
    padding: 0px;
    margin-left: 16px;
}

.profect_link{
    margin-left: 10px;
}

.projects{
    margin-bottom: 50px;
}

.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.profect_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */
.work{
   
}
/* education styles */
.education{

}
/* sidebar styles */
.sidebar{
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech_skills,
.soft_skills{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}

.sidebar-title{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808690;
}

.tech_skills_list{
    color: #ffffff;
    padding: 0px;
    margin-left: 17px;
}

.tech_skills_item{
    color:  #FB6D3A;
}

.tech_skills_text {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_list{
    color: #ffffff;
    padding: 0px;
    margin-left: 17px;
}

.soft_skills_item {
    color: #FB6D3A;
}

.soft_skills_text {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
